<div class="container">
  <div class="col-xs-12">
    <div class="formu">
      <div class="formu__titulo">
        <img src="../../../assets/fotos/flecha-atras.png">
        <p>Formulario de adopción</p>
      </div>
      <div class="formu__titulo2">
        <h3>Sobre las mascotas</h3>
      </div>
      <div class="formu__inputs">
        <form>
          ¿Tienes otros animales?
          <input type="radio" value="Si" /> Si
          <input type="radio" value="No" /> No
          <input type="text" placeholder="¿Cuáles?" /><br>
          <input type="text" placeholder="¿Se lleva bien con otros animales?" /><br>
          ¿Por qué has elegido adoptar?<br>
          <input type="text" /><br>
          ¿Conoces las necesidades del animales?<br>
          <input type="text" /><br>
          ¿Conoces sus gastos?<br>
          <input type="text" /><br>
          ¿Conoces su alimentación?<br>
          <input type="text" /><br>
          <input type="submit" value="Continuar"><br>
        </form>
      </div>
    </div>
  </div>
</div>
