<h1>¡Hola! Para continuar, inicia sesión o crea una cuenta</h1>

<div>
    <div class="login-campos">
        <input type="text" placeholder="ejemplo@gmail.com" [(ngModel)]="usuarioRegistrado.email" />
    </div>
    <div class="form-campo">
        <input type="password" placeholder="9090ejemplo"
            [(ngModel)]="usuarioRegistrado.password" />
    </div>
</div>

<div class="login-botones">
    <button (click)="">Iniciar sesión</button>
    <button (click)="">Crear cuenta</button>
</div>