<div class="container">
  <div class="wrapper">
    <div class="contenedora">
        <div class="contenedora__titulo">
          <p class="contenedora__texto">Novedades</p>
        </div>
        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy@3x.png" alt="logo">
          <figcaption class="contenedora__figcaptions"> 10 curiosidades sobre las chinchillas</figcaption>
        </figure>

        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy_2@3x.png" alt="logo">
          <figcaption class="contenedora__figcaptions">¿ Sabes que comen las iguanas ?</figcaption>
        </figure>

        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy_3@3x.png" alt="logo">
          <figcaption class="contenedora__figcaptions"> 10 Lugares para visitar con tu perro en Madrid</figcaption>
        </figure>

    </div>



  </div>
</div>
<app-footer></app-footer>
