
<div class="container">
  <div class="wrapper">
    <div class="estado">
      <div class="estado__flexsearch">
        <div class="estado__flexsearch--wrapper">
          <form class="estado__flexsearch--form" action="#" method="post">
            <div class="estado__flexsearch-input--wrapper">
              <input class="estado__flexsearch--input" type="search" placeholder="Buscar">
              <figure class="estado--input">
                <img src="../../../assets/home/buscar.png" class="adopcion__foto">
              </figure>
            </div>
          </form>
        </div>
      </div>

      <div class="estado__containers">

        <div class="estado__img_arrow">
          <img src="../../../assets/home/arrow.png">
        </div>

        <div class="estado__imgBlue">
          <p>Adopcion de Blue</p>
          <img src="../../../assets/home/fotoAnimal.jpg">

            <p class="estado__lugar-adoptar">lugar</p>
            <p class="estado__lugar-adoptar"></p>
            <p class="estado__lugar-adoptar"></p>
          </div>
        </div>
        <div class="estado__imgBlue">
          <p>Adopcion de Pichi</p>
          <img src="../../../assets/home/fotoAnimal_2.jpg">
          <div class="estado__lugar-adopcion">
            <p class="estado__lugar-adoptar"></p>
            <p class="estado__lugar-adoptar"></p>
            <p class="estado__lugar-adoptar"></p>
          </div>
        </div>
        <div class="estado__imgBlue">
          <p>Adopcion de Felipe</p>
          <img src="../../../assets/home/fotoAnimal_3.jpg">
          <div class="estado__lugar-adopcion">
            <p class="estado__lugar-adoptar"></p>
            <p class="estado__lugar-adoptar"></p>
            <p class="estado__lugar-adoptar"></p>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<app-footer></app-footer>
