            <div class="registro">
                <h2>Registro de Usuario</h2>
                <form class="col-xs col-md">
                    <div>
                        <p class="registro__p">Tus datos</p>
                    </div>
                    <div class="registro__grupo">

                        <input name="nombre" class="registro__entrada" type="text" placeholder="Nombre" required>
                    </div>
                    <div class="registro__grupo">

                        <input name="apellidos" class="registro__entrada" type="text" placeholder="Apellidos" required>
                    </div>
                    <div class="registro__grupo">

                        <input name="edad" class="registro__entrada" type="number" placeholder="Edad" required>
                    </div>
                    <div class="registro__grupo">

                        <input name="dni" class="registro__entrada" type="text" placeholder="DNI" required>
                    </div>
                    <div class="registro__grupo">

                        <input name="tlf" class="registro__entrada" type="text" placeholder="Telefono" required>
                    </div>
                    <div class="registro__grupo">

                        <input name="email" class="registro__entrada" type="text" placeholder="Email" required>
                    </div>
                    <div>
                        <p>Tu dirección</p>
                    </div>
                    <div class="registro__grupo">

                        <input  name="Ciudad" class="registro__entrada" type="text" placeholder="Ciudad" required>
                    </div>
                    <div class="registro__grupo">
 
                        <input  name="CodigoPostal" class="registro__entrada" type="number" placeholder="Código postal" required>
                    </div>
                    <div class="registro__grupo">

                        <input name="password" class="registro__entrada" type="password" placeholder="Contraseña" required>
                    </div>
                    <div>
                        <input type="checkbox" class="registro__check" required>
                        <label class="registro__privacidad"> Acepto los términos y conodiciones de registro.</label> 
                    </div>
                    <div>
                        <input type="submit" value="Registrar" (click)= "registroComponentClick()" class="registro__btn">
                    </div>
                </form>







            </div>

