<footer class="pie">
  <div class="row">
    <div class="col-1 col-xs-1">

    </div>
    <div class="col-2 col-xs-2">
      <img src="../../../assets/home/home@2x.png" class="pie__imagenes">
    </div>
    <div class="col-2 col-xs-2">
      <img src="../../../assets/home/mapa@3x.png" class="pie__imagenes">
    </div>

    <div class="col-2 col-xs-2">
      <img src="../../../assets/home/mascota@2x.png" class="pie__imagenes">
    </div>
    <div class="col-2 col-xs-2">
      <img src="../../../assets/home/perfil.png" class="pie__imagenes">
    </div>
    <div class="col-2 col-xs-2">
      <img src="../../../assets/home/mS@2x.png" class="pie__imagenes">
    </div>
    <div class="col-1 col-xs-1">

    </div>
  </div>
</footer>
