<div class="container">
  <div class="wrapper">
    <div class="contenedora">
<div class="contenedora__flexsearch">
	<div class="contenedora__flexsearch--wrapper">
			<form class="contenedora__flexsearch--form" action="#" method="post">
				<div class="contenedora__flexsearch--input-wrapper">
          <input class="contenedora__flexsearch--input" type="search" placeholder="Buscar">
          <figure class="contenedora--input">
            <img src="../../../assets/home/buscar.png" id="buscar" >
        </figure>
				</div>
			</form>
		</div>
</div>


      <div class="contenedora__text">
        <h2>Mis mascotas</h2><br>
        <div class="icon">
          <img src="../../../assets/iconos/mS@3x.png" id="icon">
          </div>
        </div>
        <div>
        <p class="contenedora__text__parr" >Accede al perfil de tus mascotas </p>
      </div>

<div class="contenedora__imgcab">
      <div class="contendora__cabecera">
        <button class="contenedora__boton">
        <img src="../../../assets/home/perrop.png">
      </button>
      </div>
      <div class="contendora__cabecera">
        <button class="contenedora__boton">
        <img src="../../../assets/home/ave_2@2x.png">
      </button>
      </div>
      <div class="contendora__cabecera">
        <button class="contenedora__boton">
        <img src="../../../assets/home/ave_2.png">
      </button>
      </div>
    </div>
  </div>



        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy_2@3x.jpg" alt="logo">
          <figcaption class="contenedora__figcaptions">Simba</figcaption>
          <figcaption class="contenedora__figcaptions_R">Madird 16klm</figcaption>
        </figure>

        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/animalAdopciNCopy2@2x.png" alt="logo">
          <figcaption ></figcaption>
        </figure>

        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy@3x.jpg" alt="logo">
          <figcaption class="contenedora__figcaptions">Uli</figcaption>
          <figcaption class="contenedora__figcaptions_R">Madird 15klm</figcaption>
        </figure>

    </div>

  </div>
</div>
<app-footer></app-footer>
