.contenedora {
  width: 90vw;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.contenedora__flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.contenedora__flexsearch--input {
  webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: auto;
  width: 260px;
  padding: 0 46px 0 20px;
  border-color: #E6E6E6;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  -webkit-appearance: none;
}

.contenedora__foto {
  float: right;
  margin-top: -1.9em;
  position: absolute;
  margin-left: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 4vh;
  width: 6vw;
}

.contenedora .icon {
  float: right;
}

.contenedora #icon {
  width: 29px;
  height: 25px;
  width: 25px;
  margin-right: 190px;
}

.contenedora__imgcab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
}

.contenedora button {
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contenedora__cabecera {
  border-radius: 20px;
  white-space: 50px;
  padding-bottom: 15px;
  width: 25px;
  height: 20px;
  background-color: rgb 189 210 214;
}

.contenedora__text {
  color: #01748E;
  font-size: 16pt;
  margin-top: 25px;
}

.contenedora__text__parr {
  color: #000000;
  font-size: 12pt;
}

.contenedora__texto {
  color: #01748e;
  font-size: 1em;
  font-family: "Barlow-Medium", sans-serif;
}

.contenedora #buscar {
  margin-left: 300px;
}

.contenedora__adopcion {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenedora__imagenes {
  width: 100%;
}

.contenedora__figcaptions {
  background-color: #ffffff;
  color: #01748e;
  font-size: 18pt;
  text-align: left;
  margin-left: 15px;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 4pt;
  font-family: "Barlow-Medium", sans-serif;
  font-weight: 700;
}

.contenedora__figcaptions_R {
  float: right;
  text-align: right;
  margin-right: 15px;
  font-family: "Barlow-Medium", sans-serif;
  font-size: 10pt;
}

.contenedora__barra__1 {
  width: 100%;
  background: transparent;
  border-style: none;
  border: 2px solid #bdd2d6;
  border-radius: 0.5em;
  height: 3.5em;
  font-family: 'Barlow-Regular', sans-serif;
  font-size: 16px;
  color: #01748e;
  justify-items: start;
  text-align: left;
  padding: 15px;
  margin-right: 0px;
}

.contenedora__barra {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contenedora__arrow {
  float: right;
  padding: 0.75em;
  margin-bottom: 15px;
}

.contenedora .letra {
  margin-right: 50px;
}

.contenedora__puntos {
  margin-left: 43%;
  margin-bottom: 1em;
}

.contenedora__pasar {
  border-bottom: 1px solid gray;
  width: 100%;
}
/*# sourceMappingURL=adopcion.component.css.map */